[submodule "pt-2-process-manager"]
	path = pt-2-process-manager
	url = https://github.com/d8euAI8sMs/pt-2-process-manager.git
[submodule "pt-1-error-lookup"]
	path = pt-1-error-lookup
	url = https://github.com/d8euAI8sMs/pt-1-error-lookup.git
[submodule "pt-3-threads"]
	path = pt-3-threads
	url = https://github.com/d8euAI8sMs/pt-3-threads.git
[submodule "pt-4-synchronization"]
	path = pt-4-synchronization
	url = https://github.com/d8euAI8sMs/pt-4-synchronization.git
[submodule "pt-5-dll"]
	path = pt-5-dll
	url = https://github.com/d8euAI8sMs/pt-5-dll.git
[submodule "ss-1-logistic"]
	path = ss-1-logistic
	url = https://github.com/d8euAI8sMs/ss-1-logistic.git
[submodule "pt-6-component-model"]
	path = pt-6-component-model
	url = https://github.com/d8euAI8sMs/pt-6-component-model.git
[submodule "pt-7-dual-interface"]
	path = pt-7-dual-interface
	url = https://github.com/d8euAI8sMs/pt-7-dual-interface.git
[submodule "util-cpp-common"]
	path = util-cpp-common
	url = https://github.com/d8euAI8sMs/util-cpp-common.git
[submodule "pt-8-class-library"]
	path = pt-8-class-library
	url = https://github.com/d8euAI8sMs/pt-8-class-library.git
[submodule "ss-2-electromagnetic"]
	path = ss-2-electromagnetic
	url = https://github.com/d8euAI8sMs/ss-2-electromagnetic.git
[submodule "ss-3-delta-barrier"]
	path = ss-3-delta-barrier
	url = https://github.com/d8euAI8sMs/ss-3-delta-barrier.git
[submodule "ree-1-filter"]
	path = ree-1-filter
	url = https://github.com/d8euAI8sMs/ree-1-filter.git
[submodule "appveyor-miktex-install"]
	path = appveyor-miktex-install
	url = https://github.com/d8euAI8sMs/appveyor-miktex-install.git
[submodule "appveyor-latex-build"]
	path = appveyor-latex-build
	url = https://github.com/d8euAI8sMs/appveyor-latex-build.git
[submodule "ss-4-eigensystem"]
	path = ss-4-eigensystem
	url = https://github.com/d8euAI8sMs/ss-4-eigensystem.git
[submodule "sw-1-spherical-waves"]
	path = sw-1-spherical-waves
	url = https://github.com/d8euAI8sMs/sw-1-spherical-waves.git
[submodule "ss-5-wave-packet"]
	path = ss-5-wave-packet
	url = https://github.com/d8euAI8sMs/ss-5-wave-packet.git
[submodule "ss-6-heat"]
	path = ss-6-heat
	url = https://github.com/d8euAI8sMs/ss-6-heat.git
[submodule "ml-1-all"]
	path = ml-1-all
	url = https://github.com/d8euAI8sMs/ml-1-all.git
[submodule "ss-7-poisson"]
	path = ss-7-poisson
	url = https://github.com/d8euAI8sMs/ss-7-poisson.git
[submodule "ss-8-triangulation"]
	path = ss-8-triangulation
	url = https://github.com/d8euAI8sMs/ss-8-triangulation.git
[submodule "kr-1-all"]
	path = kr-1-all
	url = https://github.com/d8euAI8sMs/kr-1-all.git
[submodule "ss-9-poisson-ag"]
	path = ss-9-poisson-ag
	url = https://github.com/d8euAI8sMs/ss-9-poisson-ag.git
[submodule "ss-10-tetrode"]
	path = ss-10-tetrode
	url = https://github.com/d8euAI8sMs/ss-10-tetrode.git
[submodule "ss-11-fdtd"]
	path = ss-11-fdtd
	url = https://github.com/d8euAI8sMs/ss-11-fdtd.git
[submodule "it-1-fourier"]
	path = it-1-fourier
	url = https://github.com/d8euAI8sMs/it-1-fourier.git
[submodule "it-2-ar"]
	path = it-2-ar
	url = https://github.com/d8euAI8sMs/it-2-ar.git
[submodule "it-3-phd"]
	path = it-3-phd
	url = https://github.com/d8euAI8sMs/it-3-phd.git
[submodule "it-4-deconv"]
	path = it-4-deconv
	url = https://github.com/d8euAI8sMs/it-4-deconv.git
[submodule "it-5-fienup"]
	path = it-5-fienup
	url = https://github.com/d8euAI8sMs/it-5-fienup.git
[submodule "it-6-hilbert"]
	path = it-6-hilbert
	url = https://github.com/d8euAI8sMs/it-6-hilbert.git
[submodule "it-7-fourier2d"]
	path = it-7-fourier2d
	url = https://github.com/d8euAI8sMs/it-7-fourier2d.git
[submodule "qa-1-all"]
	path = qa-1-all
	url = https://github.com/d8euAI8sMs/qa-1-all.git
[submodule "sw-2-grav-waves"]
	path = sw-2-grav-waves
	url = https://github.com/d8euAI8sMs/sw-2-grav-waves.git
[submodule "it-8-radiation-pattern"]
	path = it-8-radiation-pattern
	url = https://github.com/d8euAI8sMs/it-8-radiation-pattern
[submodule "it-9-jpeg"]
	path = it-9-jpeg
	url = https://github.com/d8euAI8sMs/it-9-jpeg
[submodule "ss-12-molecular-dynamics"]
	path = ss-12-molecular-dynamics
	url = https://github.com/d8euAI8sMs/ss-12-molecular-dynamics
[submodule "ss-13-ising"]
	path = ss-13-ising
	url = https://github.com/d8euAI8sMs/ss-13-ising
[submodule "tip-1-backprojection"]
	path = tip-1-backprojection
	url = https://github.com/d8euAI8sMs/tip-1-backprojection
[submodule "tip-2-texture-analysis"]
	path = tip-2-texture-analysis
	url = https://github.com/d8euAI8sMs/tip-2-texture-analysis
[submodule "tip-3-tracking"]
	path = tip-3-tracking
	url = https://github.com/d8euAI8sMs/tip-3-tracking
[submodule "ree-2-stgen"]
	path = ree-2-stgen
	url = https://github.com/d8euAI8sMs/ree-2-stgen
[submodule "var-1-reports"]
	path = var-1-reports
	url = https://github.com/d8euAI8sMs/var-1-reports
[submodule "var-2-articles"]
	path = var-2-articles
	url = https://github.com/d8euAI8sMs/var-2-articles
[submodule "ree-3-reed-solomon"]
	path = ree-3-reed-solomon
	url = https://github.com/d8euAI8sMs/ree-3-reed-solomon.git
[submodule "ss-13-ising-opencl"]
	path = ss-13-ising-opencl
	url = https://github.com/d8euAI8sMs/ss-13-ising.git
[submodule "scm-1-delay"]
	path = scm-1-delay
	url = https://github.com/d8euAI8sMs/scm-1-delay.git
[submodule "scm-2-matched-filter"]
	path = scm-2-matched-filter
	url = https://github.com/d8euAI8sMs/scm-2-matched-filter.git
[submodule "scm-3-ambig-fun"]
	path = scm-3-ambig-fun
	url = https://github.com/d8euAI8sMs/scm-3-ambig-fun.git
[submodule "sys-1-p2p"]
	path = sys-1-p2p
	url = https://github.com/d8euAI8sMs/sys-1-p2p.git
[submodule "sys-2-transactions"]
	path = sys-2-transactions
	url = https://github.com/d8euAI8sMs/sys-2-transactions.git
[submodule "sys-3-snmp"]
	path = sys-3-snmp
	url = https://github.com/d8euAI8sMs/sys-3-snmp.git
[submodule "tip-4-morph-analysis"]
	path = tip-4-morph-analysis
	url = https://github.com/d8euAI8sMs/tip-4-morph-analysis.git
[submodule "sys-4-zmq"]
	path = sys-4-zmq
	url = https://github.com/d8euAI8sMs/sys-4-zmq
