[submodule "pt-2-process-manager"]
	path = pt-2-process-manager
	url = https://github.com/d8euAI8sMs/pt-2-process-manager.git
[submodule "pt-1-error-lookup"]
	path = pt-1-error-lookup
	url = https://github.com/d8euAI8sMs/pt-1-error-lookup.git
[submodule "pt-3-threads"]
	path = pt-3-threads
	url = https://github.com/d8euAI8sMs/pt-3-threads.git
[submodule "pt-4-synchronization"]
	path = pt-4-synchronization
	url = https://github.com/d8euAI8sMs/pt-4-synchronization.git
[submodule "pt-5-dll"]
	path = pt-5-dll
	url = https://github.com/d8euAI8sMs/pt-5-dll.git
[submodule "ss-1-logistic"]
	path = ss-1-logistic
	url = https://github.com/d8euAI8sMs/ss-1-logistic.git
[submodule "pt-6-component-model"]
	path = pt-6-component-model
	url = https://github.com/d8euAI8sMs/pt-6-component-model.git
[submodule "pt-7-dual-interface"]
	path = pt-7-dual-interface
	url = https://github.com/d8euAI8sMs/pt-7-dual-interface.git
[submodule "util-cpp-common"]
	path = util-cpp-common
	url = https://github.com/d8euAI8sMs/util-cpp-common.git
[submodule "pt-8-class-library"]
	path = pt-8-class-library
	url = https://github.com/d8euAI8sMs/pt-8-class-library.git
[submodule "ss-2-electromagnetic"]
	path = ss-2-electromagnetic
	url = https://github.com/d8euAI8sMs/ss-2-electromagnetic.git
[submodule "ss-3-delta-barrier"]
	path = ss-3-delta-barrier
	url = https://github.com/d8euAI8sMs/ss-3-delta-barrier.git
[submodule "ree-1-filter"]
	path = ree-1-filter
	url = https://github.com/d8euAI8sMs/ree-1-filter.git
[submodule "appveyor-miktex-install"]
	path = appveyor-miktex-install
	url = https://github.com/d8euAI8sMs/appveyor-miktex-install.git
[submodule "appveyor-latex-build"]
	path = appveyor-latex-build
	url = https://github.com/d8euAI8sMs/appveyor-latex-build.git
[submodule "ss-4-eigensystem"]
	path = ss-4-eigensystem
	url = https://github.com/d8euAI8sMs/ss-4-eigensystem.git
[submodule "sw-1-spherical-waves"]
	path = sw-1-spherical-waves
	url = https://github.com/d8euAI8sMs/sw-1-spherical-waves.git
[submodule "ss-5-wave-packet"]
	path = ss-5-wave-packet
	url = https://github.com/d8euAI8sMs/ss-5-wave-packet.git
[submodule "ss-6-heat"]
	path = ss-6-heat
	url = https://github.com/d8euAI8sMs/ss-6-heat.git
[submodule "ml-1-all"]
	path = ml-1-all
	url = https://github.com/d8euAI8sMs/ml-1-all.git
[submodule "ss-7-poisson"]
	path = ss-7-poisson
	url = https://github.com/d8euAI8sMs/ss-7-poisson.git
[submodule "ss-8-triangulation"]
	path = ss-8-triangulation
	url = https://github.com/d8euAI8sMs/ss-8-triangulation.git
[submodule "kr-1-all"]
	path = kr-1-all
	url = https://github.com/d8euAI8sMs/kr-1-all.git
[submodule "ss-9-poisson-ag"]
	path = ss-9-poisson-ag
	url = https://github.com/d8euAI8sMs/ss-9-poisson-ag.git
[submodule "ss-10-tetrode"]
	path = ss-10-tetrode
	url = https://github.com/d8euAI8sMs/ss-10-tetrode.git
